@import 'styles/variables.scss';

.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
    padding-left: 225px;
    margin-top: 56px;
    background: transparent linear-gradient(277deg, #E6E7ED 0%, #F7F8FA 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

