<sb-layout-dashboard>
    <sb-dashboard-head title="Información Personal" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <form action="">
        <div class="row contenedorFormulario">
            <h1 class="titlePersonal">Datos Personales</h1>
            <div class="col-md-6 col-12">
                <input type="text" class="form-control inputPersonal" aria-label="Sizing example input"
                    placeholder="NOMBRE" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="col-md-6 col-12">
                <input type="text" class="form-control inputPersonal" aria-label="Sizing example input"
                    placeholder="APELLIDO" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="col-md-6 col-12">
                <input type="email" class="form-control inputPersonal" aria-label="Sizing example input"
                    placeholder="CORREO" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="col-md-1 col-12">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Col.</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-md-5 col-12">
                <input type="number" class="form-control inputPersonal" aria-label="Sizing example input"
                    placeholder="TELEFONO" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="col-md-6 col-12">
                <input type="text" class="form-control inputPersonal" aria-label="Sizing example input"
                    placeholder="ROL" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="col-md-6 col-12">
                <input type="password" class="form-control inputPersonal" aria-label="Sizing example input"
                    placeholder="CONTRASEÑA" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="col-md-6 col-12">
                <input type="password" class="form-control inputPersonal" aria-label="Sizing example input"
                    placeholder="CONFIRMAR CONTRASEÑA" aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
    </form>
    <form action="">
        <div class="row contenedorFormulario">
            <h1 class="titlePersonal">Información Legal</h1>
            <div class="col-md-6 col-12">
                <input type="text" class="form-control inputPersonal" aria-label="Sizing example input"
                    placeholder="NOMBRE DEL REPRESENTANTE LEGAL" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="col-md-2 col-12">
                <input type="text" class="form-control inputPersonal" aria-label="Sizing example input"
                    placeholder="TIPO DOC." aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="col-md-4 col-12">
                <input type="email" class="form-control inputPersonal" aria-label="Sizing example input"
                    placeholder="N. DE IDENTIFICACIÓN" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="col-md-6 col-12">
                <input type="number" class="form-control inputPersonal" aria-label="Sizing example input"
                    placeholder="E-MAIL DEL REPRESENTANTE LEGAL" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="col-md-6 col-12">
                <input type="text" class="form-control inputPersonal" aria-label="Sizing example input"
                    placeholder="NOMBRE DEL REPRESENTANTE LEGAL" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="col-md-6 col-12">
                <input type="text" class="form-control inputPersonal" aria-label="Sizing example input"
                    placeholder="DOMICILIO FISCAL" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="col-md-6 col-12">
                <input type="number" class="form-control inputPersonal" aria-label="Sizing example input"
                    placeholder="CÓDIGO POSTAL" aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
    </form>
</sb-layout-dashboard>