

.inputProduct {
    margin: 6px;
    border-radius: 12px;
    background: #EBECF0 0% 0% no-repeat padding-box;
    border: #EBECF0;
    box-shadow: inset -2.12px -2.12px 6px #FFFFFF;
    height: 46px;
    width: 96%;
}


.btnContinue {
    color: #FC6721;
    background: #EBECF0 0% 0% no-repeat padding-box;
    box-shadow: inset -2.12px -2.12px 6px #ffffff;
    border-radius: 30px;
    width: 113px;
}