.contentSoporte{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top:20px;
}
.selectEstado{
    border-radius: 10px !important; 
}
.form-select {
    background-color: #EBECF0;
    border: 1px solid grey;
    border-radius: 10px 0px 0px 10px;
    height: auto;
    color: #C9CCDA;
    width: 100%;
}
@media(max-width: 768px) {
    .form-select{
        margin: 20px 0px 0px 0px;
    }
}
.inputSoporte{
    background: #EBECF0;
    border: 1px solid grey;
    border-radius: 0px 14px 14px 0px;
    height: auto;
    width: 100%;
    position: relative;
    
}
@media(max-width: 768px) {
    .inputSoporte{
        margin: 20px 0px 0px 0px;
    }
}
.textCenter{
    display: flex;
    justify-content: center;
    padding-top: 98px;
}
.iconoTienda{
    width: 42%;
    height: auto;
}
.titleCentro{
    color: #757E95;
    text-align: center;
    font-size: 25px;
}