<sb-layout-dashboard>
    <sb-dashboard-head title="Solicitudes de soporte" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <div class="row contentSoporte">
        <div class="col-md-2 col-12">
            <select class="form-select selectEstado" aria-label="Default select example">
                <option selected>Estado</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-md-2 col-6">
            <select class="form-select" aria-label="Default select example">
                <option selected>Selección</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-md-2 col-6">
            <input type="text" class="form-control inputSoporte" aria-label="Sizing example input"
            placeholder="Buscar" aria-describedby="inputGroup-sizing-default">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 textCenter">
            <div style="text-align: center;">
                <img src="assets/img/iconoSolicitud.png" class="iconoTienda" alt="...">
                <div>
                    <h1 class="titleCentro">Lo sentimos</h1>
                    <p class="titleCentro">No encontramos resultados</p>
                </div>
            </div>
        </div>
    </div>
</sb-layout-dashboard>