<sb-layout-dashboard>
    <div class="row">
        <div class="col-md-10">
            <sb-dashboard-head title="Centro de conocimiento" [hideBreadcrumbs]="false"></sb-dashboard-head>
        </div>
        <div class="col-md-2">
            <select class="form-select" aria-label="Default select example">
                <option disabled>Idioma</option>
                <option value="1">Español</option>
                <option value="2">Inglés</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 textCenter">
            <div>
                <img src="assets/img/iconoCentroAyuda.png" class="iconoTienda" alt="...">
                <div>
                    <h1 class="titleCentro">¿Como te podemos ayudar?</h1>
                    <input type="text" class="form-control inputCentro" aria-label="Sizing example input"
                    placeholder="Buscar artículos de ayuda" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
        </div>
    </div>
</sb-layout-dashboard>