.textCenter{
    display: flex;
    justify-content: center;
}
.form-select{
    background-color: #EBECF0;
    border: #EBECF0;
    box-shadow: inset -2.12px -2.12px 6px #ffffff;
    position: relative;
    top: 21px;
    height: 42px;
    color: #C9CCDA;
}
.contentIcono{
    padding: 48px 0px 0px 0px;
}
.iconoTienda{
    width: 42%;
    height: auto;
    position: relative;
    left: 100px;
    
}
.titleCentro{
    color: #757E95;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}
.inputCentro{
    
    border-radius: 12px;
    background: #EBECF0 0% 0% no-repeat padding-box;
    border: #EBECF0;
    box-shadow: inset -2.12px -2.12px 6px #FFFFFF;
    height: 42px;
}