<nav class="sb-topnav navbar navbar-expand-lg">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" routerLink="/dashboard">
                <img src="assets/img/Logo.png" alt="">
            </a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" data-cy="topNavToggleSideNav" (click)="toggleSideNav()">
                <fa-icon [icon]='["fas", "bars"]'></fa-icon>
            </button>
            <!-- Navbar Search-->
        </div>
        <form class="d-flex" role="search">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="¿Qué estás buscando?" aria-label="Search" aria-describedby="basic-addon2" />
                <!-- <div class="input-group-append">
                <fa-icon [icon]='["fas", "search"]'></fa-icon>
                </div> -->
            </div>
            <ul class="navbar-nav ml-auto ml-md-0">
                <sb-top-nav-user></sb-top-nav-user>
            </ul>
        </form>    
    </div>
    
    <div class="navUser">
        <!-- <div class="action">
            <div class="profile" >
              <img src="./assets/img/iconos-login/usuario-de-perfil.png" />
            </div>
            <div class="menuCerrar">
              <ul>
                <li><a href="#">Setting</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </div>
        </div> -->
        <input type="checkbox" id="toggle" class="">
        <label for="toggle" class="button"></label>

        <div class="nav">
            <a><p class="nameUser">{{ _serviceAuth.dataName }}</p></a>
            <a href="http://localhost:4200/auth/login"><button class="btnUser" type="button" (click)="logout()">Cerrar Sesión</button></a>
        </div>


    </div>
    <!-- <div class="navUser">
        <p class="nameUser">{{ _serviceAuth.dataName }}</p>
        <a href="http://localhost:4200/auth/login"><button class="btnUser"type="button" (click)="logout()">Logout</button></a>
    </div> -->


</nav>

<!-- class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" -->