@import 'styles/variables.scss';

.contentLogo{
    background: transparent linear-gradient(79deg, #E6E7ED 0%, #F7F8FA 100%) 0% 0% no-repeat padding-box;
    box-shadow: 3px 10px 20px #00000019;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width: 768px) {
    .contentLogo{
        height: 16vh;
    }
}
.contentForm{
    background: #EBECF0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width: 768px) {
    .contentForm{
        height: 83vh;
    }
}
form{
    width: 78%;
    text-align: center;
}
.card{
    background: #EBECF0 0% 0% no-repeat padding-box !important;
}
.card .card-header {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    color: #757E95;
    background-color: transparent; 
    border-bottom: none; 
}
.titleLogin{
    color: #757E95;
}
.textLogin{
    color: #FF6600;
}

.form-control {
    width: 84%;
    height: 39px;
    padding: 0.375rem 0.75rem;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background: #E1E3ED 0% 0% no-repeat padding-box;
    box-shadow: inset -2.12px -2.12px 6px #FFFFFF;
    background-clip: padding-box;
    border: none;
    border-radius: 11px;
}

.form-group{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.logos{
    width: 15%;
    padding: 10px;
    border-radius: 37px;
}
@media(max-width: 768px) {
    .logos{
        width: 25%;
    }
}
.btnLogin{
    color: #ffff;
    background: transparent linear-gradient(147deg, #FF6600 0%, #FF6600 1%, #FF8A00 100%) 0% 0% no-repeat padding-box;
    box-shadow: inset -2.12px -2.12px 6px #ffffff;
    border-radius: 30px;
    width: 138px;
}
.btnLogin:hover {
    background: #FF6600;
    color: #fff;
    border: none;
  }