
.contentCard{
    padding-top: 80px;
}
@media(max-width: 768px) {
    .contentCard{
        padding: 55px 0px 55px 0px;
    }
}

.contentIcono{
    display: flex;
    justify-content: center;
    padding-top: 48px;
}
@media(max-width: 768px) {
    .contentIcono{
        padding-top: 10px;
    }
}

.iconoTienda{
    width: 62%;
    height: auto;
}
@media(max-width: 768px) {
    .iconoTienda{
        width: 34%;
    }
}

.card-title{
    margin-top: 23px;
    color: #757E95;
}
@media(max-width: 768px) {
    .card-title{
        margin: none;
    }
}

.textCard1{
    color: #757E95;
    opacity: 1;
}

.textCard2{
    margin: 0;
}
.contentBtnCrear{
    display: flex;
    justify-content: flex-start;
    padding: 15px 0px 8px 0px;
}
.btnCrear{
    background: transparent linear-gradient(98deg, #B2BFE1 0%, #91A3CE 100%) 0% 0% no-repeat padding-box;
    border-radius: 11px;
    border: none;
    color: #FC6721;
}
.colorSmall{
    color: #757E95;
}
.contentBtnTermino{
    display: flex;
    justify-content: flex-start;
    padding: 15px 0px 8px 0px;
}
@media(max-width: 768px) {
    .contentBtnTermino{
        padding: 15px 0px 15px 0px;
    }
}
.btnCardTienda{
    background: transparent linear-gradient(98deg, #B2BFE1 0%, #91A3CE 100%) 0% 0% no-repeat padding-box;
    border-radius: 11px;
    border: none;
    color: #FC6721;
}
.card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: 226px;
    word-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 24px;
    background: #EBECF0 0% 0% no-repeat padding-box;
    box-shadow: inset -2.12px -2.12px 6px #ffffff;
}
@media(max-width: 768px) {
    .card{
        height: auto;
    }
}