<sb-layout-dashboard>
    <!-- <sb-dashboard-head title="Mi tienda" [hideBreadcrumbs]="false"></sb-dashboard-head> -->
    <div class="row contentCard">
        <div class="col-md-6 col-12">
            <div class="card" >
                <div class="row">
                    <div class="col-md-4">
                        <div class="contentIcono">
                            <img src="assets/img/iconoPersonal.png" class="iconoTienda" alt="...">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-title">Información Personal</h2>
                            <p class="textCard1">Completa tus datos legales y bancarios y crea tu primera tienda.</p>
                            <p class="textCard2"><small class="colorSmall">Información legal y bancaria</small></p>
                            <p class="textCard2"><small class="colorSmall">Agregar logo y punto de venta</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="card" >
                <div class="row">
                    <div class="col-md-4">
                        <div class="contentIcono">
                            <img src="assets/img/iconoProducto.png" class="iconoTienda" alt="...">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-title">Producto</h2>
                            <p class="textCard1">Agrega productos a tu catálogo para que puedas comenzar a vender.</p>
                            <div class="contentBtnCrear">
                                <button class="btn btnCrear" routerLink="/crear-producto">Crear Producto</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <div class="contentIcono">
                            <img  src="assets/img/iconoTerminosCondiciones.png" class="iconoTienda" alt="...">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-title">Términos y condiciones</h2>
                            <p class="textCard1">Lee y acepta los términos y condiciones de uso de la plataforma</p>
                            <p class="textCard2"><small class="colorSmall">Ir a términos y condiciones de la plataforma</small></p>
                            <div class="contentBtnTermino">
                                <button class="btn btnCardTienda">Enviar información a validación</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <div class="contentIcono">
                            <img  src="assets/img/iconoCapacitacion.png" class="iconoTienda" alt="...">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-title">Capacitación</h2>
                            <p class="textCard1">Conoce todas las funcionalidades de la plataforma y toma un Quiz </p>
                            <p class="textCard2"><small class="text-muted">Hacer Quiz</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sb-layout-dashboard>