<sb-layout-dashboard>
    <sb-dashboard-head title="CONSULTAR CATEGORIAS" class="titleVision" [hideBreadcrumbs]="false"></sb-dashboard-head>
        <div class="row contentProduct">
            <div class="col-md-2 col-12 ">
                <button type="button" class="btn btnProduct" routerLink="/creacion-masiva">Creación masiva</button>
            </div>
            <div class="col-md-2 col-12">
                <button type="button" class="btn btnProduct">Agregar producto</button>
            </div>
            <div class="col-md-2 col-6 ">
                <select class="form-select" aria-label="Default select example">
                        <option selected>Selección</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
            </div>
            <div class="col-md-6 col-6">
                <input type="text" class="form-control inputProduct" aria-label="Sizing example input" placeholder="Buscar" aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
    
    

</sb-layout-dashboard>