// Base styling for the topnav




nav{
    background: transparent linear-gradient(180deg, #B2BFE1 0%, #99A5C1 100%) 0% 0% no-repeat padding-box;;
}
.sb-topnav {
  padding-left: 0;
  height: $topnav-base-height;
  z-index: $zindex-topnav;
  .navbar-brand {
      width: $sidenav-base-width;
      padding-left: $navbar-padding-x;
      padding-right: $navbar-padding-x;
      margin-right: 20px;
  }
  &.navbar-dark {
      #sidebarToggle {
          color: $topnav-dark-toggler-color;
      }
  }
  &.navbar-light {
      #sidebarToggle {
          color: $topnav-light-toggler-color;
      }
  }
}
@media(max-width: 768px) {
    .sb-topnav{
        height: auto;
    }
}
@media(max-width: 768px) {
    .nav-link{
        padding-top: 18px;
    }
}

@media(max-width: 768px) {
    .input-group{
        margin-right: 18px;
        padding: 10px;
    }
}
// .form-control{
//     background: #EBECF0 0% 0% no-repeat padding-box;
//     box-shadow: inset -2.12px -2.12px 6px #ffffff;
//     border-radius: 20px;
//     opacity: 1;
// }