.inputOrder{
    margin: 20px 0px 0px 0px;
    border-radius: 12px;
    background: #EBECF0 0% 0% no-repeat padding-box;
    border: #EBECF0;
    box-shadow: inset -2.12px -2.12px 6px #FFFFFF;
    height: 42px;
}

.btnOrders{
    background: transparent linear-gradient(180deg, #B2BFE1 0%, #99A5C1 100%) 0% 0% no-repeat padding-box;
    box-shadow: inset -2.12px -2.12px 6px #FFFFFF;
    border-radius: 20px;
    opacity: 1;
    color: #EBECF0;
    width: 61%;
    position: relative;
    top: 20px;
}

.contentHistory{
    padding-top: 46px;
    text-align: center;
}

.calendar{
    height: 42px;
    width: 36px;
    position: relative;
    top: 20px;
    right: 18px;
    background: #EBECF0 0% 0% no-repeat padding-box;
    border: #EBECF0;
    box-shadow: inset -2.12px -2.12px 6px #ffffff;
}