@import 'styles/variables.scss';


.card{
    background: #EBECF0 0% 0% no-repeat padding-box;
    box-shadow: inset -2.12px -2.12px 6px #FFFFFF;
    border-radius: 21px;
    opacity: 1;
    border: none;
}