@import 'styles/variables.scss';

.card-title{
    color: #757E95;
    font-size: 9px;
}

.card-text{
    color: #757E95;
    font-size: 38px;
}

.cardi{
    background: #606a8226;
    height: 37px;
    width: auto;
    border-radius: 6px;
    padding: 10px;
}

.textCardi{
    font-size: 9px;
    color: #757E95;
}